.navbar-ferema{
    background-color: #02733E !important;
    position: relative;
    z-index: 1;
}
.nav.navbar-nav.navbar-right li a {
    color: rgb(255, 255, 255) !important;
}
.carousel{
    position: relative;
    z-index: 0;
}