@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700;900&display=swap');
.navbar-ferema{
    background-color: #02733E !important;
    font-family: 'Roboto', sans-serif;  
    font-weight: 900;
}
.navbar .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}
.carousel{
    position: relative;
    z-index: 0;
    margin-top: 120px;
}
.carousel__opacity{
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
    background-color: #000;
}
.color{
    background-color: #000;
}
.carousel-caption{
    border: 1px solid;
    bottom: 44%;
}
.figure-caption{
    position: absolute;
    bottom: 23px;
    padding: 11px;
    width: 100%;
}
.figure{
    position: relative;
}

